<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Панель керування</title>
</head>
<body>

  <h1>Вітаємо, <%= user.name %>!</h1>

  <a href="/logout">Вийти</a>

</body>
</html>
